#urlbar-go-button,
#urlbar-reload-button,
#urlbar-stop-button,
#star-button,
#appmenu-toolbar-button .toolbarbutton-text,
.tabs-newtab-button,
.tab-close-button {
	display: none !important;
}

#nav-bar {
    background-color: #1c1c1c !important;
    background-image: none !important;
    padding: 0px !important;
    height: 0px !important;
}

#urlbar {
    color: #949494 !important;
    margin: 0px !important;
    -moz-appearance: none !important;
}

#appmenu-toolbar-button {
    -moz-appearance: none !important;
    height: 20px !important;
    background-color: #1c1c1c !important;
}

.autocomplete-richlistitem {
    color: #949494 !important;
}

.autocomplete-richlistitem[selected="true"],
.autocomplete-richlistitem[selected="true"] .ac-url-text,
.autocomplete-richlistitem[selected="true"] .ac-action-text {
    background-color: #87875f !important;
    color: #ffffdf !important;
}

.autocomplete-richlistitem .ac-url-text,
.autocomplete-richlistitem .ac-action-text {
    color: #87afff !important;
}

.autocomplete-richlistbox {
    background-color: #1c1c1c !important;
    border: none !important;
    margin: 0px !important;
}

.tabbrowser-tabs {
    height: 20px !important;
    background-color: #1c1c1c !important;
}

#arrowscrollbox-scrollbox {
    line-height: 0px !important;
    height: 0px !important;
}

.tabbrowser-tab {
    color: #949494 !important;
    border: none !important;
    border-radius: 0px !important;
    background: #1c1c1c !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 2px !important;
    line-height: 0px !important;
    height: 0px !important;
    min-height: 0px !important;
}

.tabbrowser-tab[selected="true"] {
    color: #ffffdf !important;
    background-color: #87875f !important;
}

#identity-box {
    color: #87df5f !important;
    padding: 0px !important;
    background: none !important;
}

#navigator-toolbox {
    border: none !important;
}
